<div class="text-center" *ngIf="!isLoaded">Loading...</div>

<div *ngIf="isLoaded">
  <form  #f="ngForm">

    <h5 for="vacancy-status">Vacancy name: </h5>
    <input
      type="text"
      id="vacancy-name"
      required
      class="form-control"
      #name="ngModel"
      name="name"
      ngModel
    >

    <br>

    <h5 for="vacancy-status">Vacancy status: </h5>
    <select id="vacancy-status" class="form-control" #status="ngModel" name="status" ngModel>
      <option *ngFor="let stat of statusesList">{{ stat.title }}</option>
    </select>

    <br>

    <h5 for="description">Description: </h5>
    <textarea
      id="description"
      required
      class="form-control txtar"
      #description="ngModel"
      name="description"
      ngModel
    ></textarea>

    <br>

    <h5 for="rqrm">Requirements: </h5>
    <table class="table" id="rqrm" *ngIf="formRequirements.get('requirements').controls.length">
      <tr>
        <td class="h6 reqN">Title:</td>
        <td class="h6 reqR">Required:</td>
        <td class="h6" for="isPublic">Public:</td>
      </tr>
    </table>
    <table class="table" *ngIf="formRequirements.get('requirements').controls.length">
      <div [formGroup]="formRequirements">
        <ng-container formArrayName="requirements"
                      *ngFor="let item of formRequirements.get('requirements').controls; let i = index;">
          <tr [formGroupName]="i">
            <td class="h6">{{ i + 1 + '.' }}</td>
            <td><input type="text" class="form-control reqNm" formControlName="reqName" required></td>
            <td class="reqB"><input type="checkbox" formControlName="isRequire"></td>
            <td class="reqL"><input type="checkbox" formControlName="isPublic"></td>
            <td>
              <button class="btn btn-oval" (click)="removeRequirement(i)">
                -
              </button><br>
            </td>
          </tr>
        </ng-container>
      </div>
    </table>

    <ng-container>
      <button class="btn btn-oval" (click)="addRequirement()">
        +
      </button><br>
    </ng-container>

    <ng-container>
      <button class="btn btn-primary" type="submit" (click)="onSave(f)" [disabled]="f.invalid || formRequirements.invalid">Save</button>
    </ng-container>

  </form>
</div>
